# OS Specifics
.DS_Store
thumbs.db

# IDE
.vscode/
.idea/

# Config
.env
.env.*


# Agora
agora_sdk/
agora_sdk_mac/
agora_rtm_cache.db
agorartmdns.dat
agorartmreport.dat

# Output
__debug_bin*
logs/
bin/
*.log
*.out
*.html
*.coverprofile
*.cover

# Others
c_demo/
cxx_demo/

*_test.go
test*/
*.test
