.DS_Store


.vscode/
.idea/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

logs/
bin/
agora_sdk/
agora_sdk_mac/

c_demo/
cxx_demo/

*.log
*.out
*.html
*.coverprofile
*.cover

*_test.go
test*/
*.test